# Lab 3.03 - Confidence intervals

In [1]:
# Package imports
# Package imports for data science
import numpy as np
import scipy.stats as stats
import pandas as pd
from pandas.api.types import CategoricalDtype
import matplotlib.pyplot as plt
from statsmodels.graphics.mosaicplot import mosaic
import seaborn as sns

## Exercise 1 - rlanders

Load the dataset data/rlanders.csv. Use the column Money.  
We assume that the values from this sample are normally distributed around a population mean $\mu$ that is unknown, but that the standard deviation of the population is known, i.e. $\sigma = 98$.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/HoGentTIN/dsai-en-labs/main/data/rlanders.csv').set_index(['ID'])
# Show the first few records of the Data Frame
df.head()

    Gender  Money  Days  Months  Count  Survey
ID
1   Female    440    29      11     35       3
2   Female    503    23      10     52       3
3     Male    412    16      11     55       3
4     Male    587    25       9     28       5
5     Male    525    30      11     41       4

Calculate a 99% confidence interval for the population mean (Answer: [484.191, 516.121]).

In [6]:
m = df.Money.mean()
s = 98
n = df.Money.count()
alpha = 0.01

# Step 2.
z = stats.norm.isf(alpha/2)
print("z-score: %.5f" % z)

# Step 3.
lo = m - z * s / np.sqrt(n)
hi = m + z * s / np.sqrt(n)
print("Confidence interval: [%.3f, %.3f]" % (lo, hi))

z-score: 2.57583
Confidence interval: [484.191, 516.121]

Calculate a 95% confidence interval for the population mean. (Answer =  [488.008, 512.304])

In [18]:
m = df.Money.mean()
s = 98
n = df.Money.count()
alpha = 0.05

# Step 2.
z = stats.norm.isf(alpha/2)
print("z-score: %.5f" % z)

# Step 3.
lo = m - z * s / np.sqrt(n)
hi = m + z * s / np.sqrt(n)
print("Confidence interval: [%.3f, %.3f]" % (lo, hi))

z-score: 1.95996
Confidence interval: [488.008, 512.304]

Suppose Ïƒ is unknown, calculate a 95% confidence interval for the population mean. (Answer = [487.319, 512.993])

In [23]:
m = df.Money.mean()
s = df.Money.std(ddof=1)
n = df.Money.count()
alpha = 0.05

# Step 2.
z = stats.t.isf(alpha/2,df = n - 1) #NOTE: Use t
print("z-score: %.5f" % z)

# Step 3.
lo = m - z * s / np.sqrt(n)
hi = m + z * s / np.sqrt(n)
print("Confidence interval: [%.3f, %.3f]" % (lo, hi))

z-score: 1.96954
Confidence interval: [487.319, 512.993]

Finally, suppose the sample consists of only the first 25 observations in this dataset. Calculate a 95% confidence interval for this situation.  
(Answer = [450.291,536.669])

In [ ]:
m = df.Money[:25].mean() # enkel eerste 25
s = df.Money.std(ddof=1)
n = df.Money[:25].count()
alpha = 0.05

# Step 2.
z = stats.t.isf(alpha/2, df = n - 1)
print("z-score: %.5f" % z)

# Step 3.
lo = m - z * s / np.sqrt(n)
hi = m + z * s / np.sqrt(n)
print("Confidence interval: [%.3f, %.3f]" % (lo, hi)) #NOTE: Na de komma klopt er ni for some reason

z-score: 2.06390
Confidence interval: [450.941, 536.019]

## Exercise 2

1. How do you calculate the upper and lower limits of a 95% and 99% confidence interval?
2. A 99% confidence interval is [wider/narrower/the same width] as a 95% confidence interval. Why?
3. What would a 100% confidence interval look like?