# Lab 4.08 - Off days

*(This exercise was generated by <https://rlanders.net/dataset-generator/>)*

In [1]:
# Package imports for data science
import numpy as np
import pandas as pd
import scipy.stats as stats
from pandas.api.types import CategoricalDtype
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.mosaicplot import mosaic


You run a small business with four employees: Susan, Jimmy, Albert, and Camilla. Because you need three employees at work at any given time, only one employee ever has the day off. Unfortunately, everyone always wants Saturday off. One of your employees has confronted you and said that you favor some employees over others in providing Saturdays off. To investigate this, you pulled up a list of who has recently had Saturdays off each week (see `data/off-days.csv`).

Visualize the data and conduct a suitable statistical test to investigate this. Complete the full hypothesis testing process and draw all appropriate conclusions.

In [2]:
offdays = pd.read_csv('../data/off-days.csv')
offdays

    EmployeeName
0          Susan
1         Albert
2        Camilla
3         Albert
4          Susan
..           ...
115        Susan
116        Susan
117        Susan
118        Susan
119        Jimmy

[120 rows x 1 columns]

In [ ]:
offdays.EmployeeName.value_counts() #niet iedereen krijgt evenveel zaterdagen verlof & Jimmy wordt gescammed

EmployeeName
Susan      48
Albert     42
Camilla    24
Jimmy       6
Name: count, dtype: int64